*{
    margin:0;
    padding:0;
}
body {
    font:14px/1.3 Arial,sans-serif;
    background-color:#212121;
}
header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    color:#fff;
    display:block;
    height:70px;
    position:relative;
    width:100%;
    z-index:100;
}
header h2{
	font-size: 50px;
	font-weight: normal;
	left: 44%;
	margin-left: -400px;
	padding: 22px 0;
	position: absolute;
	width: 540px;
	color: #2A9FFF;
}

header a.stuts,a.stuts:visited{
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:31px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}
.container #nav1 li #metro #headimg {
	background-color: transparent;
	height: 50px;
	width: 300px;
}


header .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}
.container {
	height: 571px;
	margin: 30px auto;
	width: 957px;
	border-top-color: #2A9FFF;
	border-right-color: #2A9FFF;
	border-bottom-color: #2A9FFF;
	border-left-color: #2A9FFF;
}
.container #nav1 li #metro h2 {
	font-family: "Segoe UI Light";
	font-size: xx-large;
	color: #2A9FFF;
	text-transform: capitalize;
}

#countdown{color:#dfdfdf}


.container #metro {
	padding: 5px;
	height: 250px;
	width: 300px;
	-webkit-transition: opacity;
	-moz-transition: opacity;
	-ms-transition: opacity;
	-o-transition: opacity;
	transition: opacity;
	border: thin inset #2A9FFF;
}

.cd{position:absolute;font-size:83px;color:#fff}
.ch{position:absolute;left:90px;top:80px;font-size:53px;color:#eeeded}
.cm{position:absolute;top:100px;font-size:73px;color:#ddd}
.cdays{position:relative;left:84px;font-size:35px;top:15px}
.chours{position:relative;top:70px;left:95px}
.cmins{position:relative;top:66px;left:78px;font-size:24px}

#body .tab{background-color:#242424;border:1px solid #545454;overflow:hidden;width:150px;height:240px;float:left;position:relative;color:#efefef;z-index:88;padding:5px}


#body .tab img {padding-top:0px}
#announcements{background-color:rgb(9,9,9);background-color:rgba(9,9,9,0.8);position:absolute;margin-left:12px;z-index:79;width:180px;padding:5px 10px}
#body a:link,#nav a:visited{font-size:xx-large}
#body{padding-top:0;padding-left:67px}
#body ul{padding-left:0}
