<!DOCTYPE html>
<html lang="en" xmlns:ice="http://ns.adobe.com/incontextediting" >
    <head>
        <meta charset="utf-8" />
        <title>Techstorm 2.13</title>
        <link href="css/layout.css" rel="stylesheet" type="text/css" />
        <link href="css/menu.css" rel="stylesheet" type="text/css" />
        
    <script src="includes/ice/ice.js" type="text/javascript"></script>
    <script type="text/javascript">
<!--
var image1=new Image()
image1.src="images/1.gif"
var image2=new Image()
image2.src="images/2.jpg"
var image3=new Image()
image3.src="images/1.jpg"
//-->
</script>
    </head>
    <body>
        <header>
            <div ice:editable="*">
              <h2>Techstorm 2.13</h2>
            </div>
            <a href="http://www.script-tutorials.com/pure-css3-lavalamp-menu/" class="stuts"><span></span></a>
        </header>
       <div class="container">

            <ul id="nav">
                <li><a href="images/events.html">Home</a></li>
                <li><a class="hsubs" href="#">Events</a>
                    <ul class="subs">
                        <li><a href="#">Creativity</a></li>
                        <li><a href="#">Submenu 2</a></li>
                        <li><a href="#">Submenu 3</a></li>
                        <li><a href="#">Submenu 4</a></li>
                        <li><a href="#">Submenu 5</a></li>
                    </ul>
                </li>
                <li><a class="hsubs" href="#">Schedule</a>
                    <ul class="subs">
                        <li><a href="#">Submenu 2-1</a></li>
                        <li><a href="#">Submenu 2-2</a></li>
                        <li><a href="#">Submenu 2-3</a></li>
                        <li><a href="#">Submenu 2-4</a></li>
                        <li><a href="#">Submenu 2-5</a></li>
                        <li><a href="#">Submenu 2-6</a></li>
                        <li><a href="#">Submenu 2-7</a></li>
                        <li><a href="#">Submenu 2-8</a></li>
                    </ul>
                </li>
                <li><a class="hsubs" href="#">Gallery</a>
                    <ul class="subs">
                        <li><a href="#">Submenu 3-1</a></li>
                        <li><a href="#">Submenu 3-2</a></li>
                        <li><a href="#">Submenu 3-3</a></li>
                        <li><a href="#">Submenu 3-4</a></li>
                        <li><a href="#">Submenu 3-5</a></li>
                    </ul>
                </li>
                <li><a href="#">Sponsors</a></li>
                <li><a href="#">Buzz</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Back</a></li>
                <li></li>
                <div id="lavalamp"></div>
            </ul>
			<ul id="nav_slider">
   				<img src="images/1.gif" name="slide" width=950 height=300>
                <script type="text/javascript">
<!--
//variable that will increment through the images
var step=1
function slideit(){
//if browser does not support the image object, exit.
if (!document.images)
return
document.images.slide.src=eval("image"+step+".src")
if (step<3)
step++
else
step=1
//call function "slideit()" every 2.5 seconds
setTimeout("slideit()",2500)
}
slideit()
//-->
</script>
            </ul><br>
        <ul id="nav1">
        <li><div id="metro" style="opacity:30"><div id="headimg">
        		<h2>Gaming</h2>
        	</div><img src="images/game.jpg" name="gaming" width=300 height=200></div></li>
         <li><div id="metro" style="opacity:30">
                <h2>1 month to go! &nbsp;&nbsp;&nbsp; <br>Be Creative. Be Innovative. Be Appreciated.</h2>
			</div></li>
         <li><div id="metro" style="opacity:30"><div id="headimg">
        		<h2>Creativity</h2>
        	</div><img src="images/4.jpg" name="creativity" width=300 height=200></div></li>
        </ul>
        </br><ul id="nav">
        	<li><a href="">Copyright Techstorm 2.13</a></li>
        </ul>
        </div>
       
</body>
</html>