<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mantle_WindowsDesktop.Properties.Settings.weather_forecastConnectionString"
            connectionString="data source=D:\Programming\weather_forecast.db"
            providerName="System.Data.SQLite" />
    </connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
    	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>